# PyInstaller spec template for ARIS Control Center
block_cipher = None

a = Analysis(['../aris_control_center_app/src/aris_control_center_app/app.py'], pathex=['..'], binaries=[], datas=[], hiddenimports=['aris3_client_sdk','tkinter'], hookspath=[], runtime_hooks=[], excludes=[], win_no_prefer_redirects=False, win_private_assemblies=False, cipher=block_cipher)
pyz = PYZ(a.pure, a.zipped_data, cipher=block_cipher)
exe = EXE(pyz, a.scripts, a.binaries, a.zipfiles, a.datas, name='ARIS-Control-Center', console=False)
